{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets '@bootstrap_less' '@datatables_css' combine=true %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Developer area</h1>
                <p class="lead">...</p>
                <table id="clients" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>grant types</th>
                        <th>updated</th>
                    </tr>
                </thead>
                </table>
            </div>
            <div class="col-md-3">
                <div class="h1">
                    <span id="username"></span>
                    <button id="login" class="btn btn-info" data-hg-login-button data-label-connected="Log Out" data-label-unknown="Log In" data-label-not_authorized="Log In">Log In</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-client-modal" tabindex="-1" role="dialog" aria-labelledby="edit-client-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="edit-client-modal-title">Edit Application</h4>
                </div>
                <div class="modal-body">
                    <form id="edit-client-form" data-action="{{ path('api_client_update', {id: 0}) }}" method="put">
                        <div class="form-group">
                            <label for="client-name">Name</label>
                            <input type="text" name="name" class="form-control" id="client-name" placeholder="Client name" data-toggle="tooltip" data-placement="top" title="">
                        </div>
                        <div class="form-group">
                            <label for="client-redirect-uris">Redirect URIs</label>
                            <textarea id="client-redirect-uris" name="redirectUris" class="form-control" rows="5" placeholder="New line add new URI" data-toggle="tooltip" data-placement="top" title=""></textarea>
                        </div>
                        <div class="form-group">
                            <label for="client-allowed-origins">Allowed origins</label>
                            <textarea id="client-allowed-origins" name="allowedOrigins" class="form-control" rows="5" placeholder="New line add new origin" data-toggle="tooltip" data-placement="top" title=""></textarea>
                        </div>
                        <div class="form-group">
                            <label>Allowed Grant Types</label>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="allowedGrantTypes[]" value="token"> Token
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="allowedGrantTypes[]" value="authorization_code"> Authorization Code
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="allowedGrantTypes[]" value="client_credentials"> Client Credentals
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="allowedGrantTypes[]" value="refresh_token"> Refresh Token
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="edit-client-form" data-loading-text="Saving...">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {% javascripts '@jquery_js' '@bootstrap_js' '@datatables_js' '@ApiBundle/Resources/public/js/controller/ClientController.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

        let app = new ClientController();

        window.hgAsyncInit = function() {
            HG.init({
                {% if app.environment == 'dev'  %}
                api_url: 'http://hanggliding.dev:8090',
                {% endif %}
                appId: '{{ api_appId }}'
            });

            HG.getLoginStatus(function(response) {
                if (response.status == 'connected') {
                    HG.get('clients').then(function (json) {
                        app.setClientsData(json)
                    });
                }
            });
        };
        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, pjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "/sdk/en_US/sdk.js";
            pjs.parentNode.insertBefore(js, pjs);
        }(document, 'script', 'hg-js-sdk'));
    </script>
{% endblock %}